{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment{% endblock %}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'css/__appointment.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="search-container">
            <input type="text" id="search-input" name="q" placeholder="Search doctors...">
            <button type="submit" id="search-button">Search</button>

    </div>

    <div class="doctor-profile-container">
       <h1>hlw</h1>
</div>
{% endblock %}